StreamAnalysisWebApp/node_modules/
StreamAnalysisWebApp/.vscode/
FakeSensor/FakeSensor/FakeSensor/obj/
FakeSensor/FakeSensor/.vs/
FakeSensor/FakeSensor/FakeSensor/bin/
APIXU/APIXU/bin/
APIXU/APIXU/obj/Debug/APIXU.csproj.CoreCompileInputs.cache
APIXU/APIXU/obj/
StreamAnalysisLibrary/StreamAnalysisLibrary/obj/
StreamAnalysisLibrary/StreamAnalysisLibrary/bin/
APIXU/.vs/APIXU/v15/
StreamAnalysisLibrary/.vs/StreamAnalysisLibrary/v15/
StreamAnalysisMQListener/.vs/StreamAnalysisMQListener/v15/
StreamAnalysisMQListener/StreamAnalysisMQListener/bin/Debug/
StreamAnalysisMQListener/StreamAnalysisMQListener/obj/
Libraries/StreamAnalysisLibrary/StreamAnalysisLibrary/obj/
Libraries/StreamAnalysisLibrary/StreamAnalysisLibrary/bin/
Applications/FakeSensor/FakeSensor/FakeSensor/obj/
Applications/FakeSensor/FakeSensor/FakeSensor/bin/
Applications/APIXU/APIXU/bin/
Applications/DotNetEC2/DotNetEC2/bin/
Applications/DotNetEC2/DotNetEC2/obj/
Applications/StreamAnalysisWebApp/StreamAnalysisWebApp/AWS_Credentials.json
Applications/WebApplication/.vs/WebApplication/v15/.suo
Applications/WebApplication/.vs/WebApplication/v15/
Applications/WebApplication/WebApplication/aws_credentials.json
Libraries/ApixuCoreLibrary/ApixuCoreLibrary/obj/
Libraries/ApixuCoreLibrary/ApixuCoreLibrary/bin/
Libraries/ApixuCoreLibrary/.vs/ApixuCoreLibrary/v15/
Keys/accessKeys.csv
Keys/web-server-key.pem
Keys/ECS/Log-in.txt
Applications/WebApplication/.vs/
Applications/Apixu/Apixu/obj/
Applications/(OBSOLETE)StreamAnalysisWebApp/.vs/
