<div class="container-fluid" class="login-page-container">
    <div class="login-centering-wrapper">
      <div class="login-main-wrapper">
        <div class="login-main-container">
            <div class="login-stream-logo"></div>
            <div class="login-sub-wrapper">
              <form (submit)="loginUser($event)" class="login-inputs-container">
                <span class="ui-float-label">
                  <input id="username" type="text" size="25" pInputText> 
                  <label for="float-input">Username</label>
                </span>
                <span class="ui-float-label">
                  <input id="password" type="password" size="25" pInputText> 
                  <label for="float-input">Password</label>
                </span>
              </form>
            </div>
          </div>
      </div>
    </div>
</div>