.historical-page-wrapper {
    padding: 0px;
}

.main-page {
    width: calc(100% - 60px);
    margin-left: 60px;
}

#sign-out-btn {
    float: right;
}

.queue-data-grid-row {
    padding: 10px;
}

#add-queue-dialog .ui-dialog {
    min-width: 550px !important;
    width: 550px !important;
}