<div class="container-fluid" class="historical-page-wrapper">
  <p-dialog id="add-queue-dialog" header="Add queue" [(visible)]="addQueueDialogShow" [modal]="true" [draggable]="false" [resizable]="false">
    <div class="p-grid">
        <div class="p-col-2" style="padding-top: 12px;">
            Queue
        </div>
        <div class="p-col-10">
            <p-dropdown [options]="availableQueues" [(ngModel)]="selectedQueue" optionLabel="name" placeholder="Select one" appendTo="body"></p-dropdown>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="onOkAddQueue()" label="Add"></button>
        <button type="button" pButton icon="pi pi-close" (click)="addQueueDialogShow=false" label="Cancel" class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>
  <app-menu></app-menu>
  <div class="main-page">
    <p-dataView [value]="historicalDataList" emptyMessage="No cards." layout="grid">
        <p-header>
            <div class="header-fix">
                <div class="p-grid">
                    <div class="p-col-6">
                        <button pButton type="button" label="Add queue" (click)="onAddQueue()" icon="pi pi-plus"></button>
                    </div>
                    <div class="p-col-6 data-view-options">
                        <p-button id="sign-out-btn" label="Sign Out" icon="fa fa-sign-out" (onClick)="onSignOut()"></p-button>
                    </div>
                </div>
            </div>
        </p-header>
        <ng-template let-historicalData pTemplate="gridItem">
            <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 queues-data-grid-row">
                <app-zoom-chart [id]="historicalData.queue" [data]="historicalData.values" [header]="historicalData.queue | queueName" [measurement]="historicalData.measurement" (delete)="onDeleteZoomChart($event)"></app-zoom-chart>
            </div>
        </ng-template>
    </p-dataView>
  </div>
</div>
