footer
    div.footer
        div.get-started-btn-wrapper
            div.get-started-btn
                a(href='/users') Get Started
        div.contact
            div.contact-info Country: Romania
            div.contact-info City: Brasov
            div.contact-info E-mail: kedves_szily@yahoo.com
            div.contact-info Tel: 0748777362
        div.copyright-wrapper
            div.copyright © 2018, Stream Analysis. All rights reserved.
    div.logos-container
        div.aws-logo
        div.expressjs-logo
        div.pug-logo