<div [@navbarHoverTrigger]="isNavbarHovered" id="navbar">
    <div>
        <a routerLink="/dashboard">
            <div class="navbar-item" [ngClass]="{'active-navbar-item': isActive('dashboard')}" (click)="onNavbarItemClick('dashboard')">
                <span class="navbar-item-icon"><i class="fa fa-area-chart"></i></span>
                <span class="navbar-item-text" *ngIf="isNavbarHovered" style="margin-left:24px">Dashboard</span>
            </div>
        </a>
    </div>
    <div>
        <a routerLink="/historical">
            <div class="navbar-item" [ngClass]="{'active-navbar-item': isActive('historical')}" (click)="onNavbarItemClick('historical')">
                <span class="navbar-item-icon"><i class="fa fa-history"></i></span>
                <span class="navbar-item-text" *ngIf="isNavbarHovered" style="margin-left:24px">Historical</span>
            </div>
        </a>
    </div>
</div>