.zoom-chart-delete {
    float: right;
}

.zoom-chart-delete:hover {
    color: red;
    cursor: pointer;
}

.zoom-chart-title {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.chart {
    height:400px;
}