<div class="container-fluid" class="home-page-container">
  <div class="bg-img" id="bg-img-1">
    <div class="enter-btn-wrapper">
      <div class="enter-btn">
        <a routerLink="/dashboard">Get Started</a>
      </div>
    </div>
  </div>
  <div class="paragraph">
    <div class="paragraph-title">
      Kick-start
    </div>
    Experience Stream Analysis data visualization feautures.
  </div>
  <div class="bg-img" id="bg-img-2"></div>
  <div class="paragraph">
    <div class="paragraph-title">
      Secure
    </div>
    Stream Anlysis infrastrucure is built inside a VPC(virutal private cloud) meaning your information and data is completely secure.
  </div>
</div>