/* Disabling anchor properties */
p-accordion a, p-accordiona:visited, p-accordion a:hover, p-accordion a:active {
    text-decoration: inherit !important;
}

.home-btn {
    position: absolute;
    right: 0px;
    top: 35px;
    border-radius: 12px 0px 0px 12px;
    padding-left: 11px;
    padding-top: 3px;
    width: 90px;
    height: 32px;
    background-color: #007ad9;
    color: white;
    font-size: 14px;
    border: 1px solid #007ad9;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    cursor: pointer;
}

.home-btn .icon {
    margin-right: 7px;
    font-size: 15px;
}

.ui-steps .ui-steps-item {
    width: 20%;
}

.ui-steps {
    margin-bottom: 50px;
}

p-accordion {
    width: 100%;
}

.cli-command {
    height: 35px;
    padding: 4px;
    background-color: black;
    color: rgba(255,255,255,0.9);
    width: 100%;
    margin-top: 10px;
}

.cli-command-content {
    width: 1600px;
}

.clipboard-icon {
    cursor: pointer;
    position: relative;
    top: 17px;
    color: cornflowerblue;
}

.ui-scrollpanel-bar-y {
    display: none;
}

.label-user-id {
    padding: 0px;
    background-color: #a6a6a6;
    border: 1px solid #a6a6a6;
    height: 35px;
    border-radius: 6px 0px 0px 6px;
    position: relative;
    top: 8px;
    align-items: center;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.channel-name {
    padding: 0px;
    padding-top: 8px;
}

.info-circle {
    font-size: 18px;
    position: relative;
    top: 5px;
}

.regular-expression {
    font-size: 13px;
    color: gray;
}